<div class="main-div-display">
    <div class="group-header">Alarmes</div>
    <mat-card style="height: calc(100% - 40px);">
        <mat-card-content style="height: 100%;">
            <div>
                <io-cloud-table [headerInfo]="headerInfo" 
                                [models]="getAlarms()"
                                (addCallback)="addAlarm()"
                                (deleteCallback)="removeAlarm($event)">
                </io-cloud-table>
            </div>
        </mat-card-content>
    </mat-card>
</div>