@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: 'Segoe UI',
    density: 0
  ));
}

@font-face {
  font-family: 'Digital Numbers';
  src: url('assets/fonts/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/segoe-ui-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html, body { 
  height: 100%;
 }
body { margin: 0; font-family: 'Segoe UI', sans-serif; } 

