@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

@font-face {
  font-family: 'Digital Numbers';
  src: url('assets/fonts/DigitalNumbers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 

