<div style="height: 100%;">
    <side-nav-option *ngFor="let group of getGroupSensorUi()"
                    [icon]="'timelapse'" 
                    [componentText]="'Status Sensores'">
                    <side-nav-option *ngFor="let group of getGroupSensorUi()"
                        [isSuboption]="true"
                        [icon]="'timelapse'" 
                        [componentText]="group" 
                        (buttonCallback)="setSensor(group)">
                    </side-nav-option>
    </side-nav-option>
    <side-nav-option [icon]="'storage'" [componentText]="'Gráficos'" (buttonCallback)="setStatusLog()"></side-nav-option>
    <side-nav-option [icon]="'warning'" [componentText]="'Alarmes'" (buttonCallback)="setAlertScreen()"></side-nav-option>
    <side-nav-option [icon]="'insert_drive_file'" [componentText]="'Relatórios'" (buttonCallback)="openReportGenerator()"></side-nav-option>
    <side-nav-option [icon]="CanEdit()?'editOff':'modeEdit'" 
                     [componentText]="CanEdit()?'Habilitar Edição':'Desabilitar Edição'" 
                     (buttonCallback)="toogleEdit()"></side-nav-option>
</div>
