<mat-card>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-content>
      <div class="main-group-div">
        <sensor *ngFor="let sensor of sensorArray" 
                [sensorInfo]="sensor" 
                (clickCallback)="selectSensor($event)" 
                (deleteCallback)="removeSensorCallback($event)"></sensor>
      </div>
        
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="addSensor(name)">Add Sensor</button>
    </mat-card-actions>
</mat-card>