.main-table-screen
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding-left: 10%;
    padding-right: 10%;

    height: 100%;

}

.graph-options-header{
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
}

.graph-table
{
    height: 80%;
    border-width: 1px;
    border-style: solid;
    background-color: #f3f2f3;
}

.requester {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

ngx-charts-legend-entry {
    cursor: pointer;
    pointer-events: all; /* Ensures clicks are registered */
}