<div class="main-table-screen">
    <div class="graph-options-header">
        <button mat-icon-button 
                class="example-icon" 
                aria-label="Example icon-button with menu icon" 
                (click)="''">
            <mat-icon>insert_drive_file</mat-icon>
        </button>
        <button mat-icon-button 
                class="example-icon" 
                aria-label="Example icon-button with menu icon" 
                (click)="''">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button 
                class="example-icon"
                aria-label="Example icon-button with menu icon" 
                (click)="resizeTrigger = !resizeTrigger">
            <mat-icon>zoom_out_map</mat-icon>
        </button>
        <button mat-icon-button 
                [ngClass]="{'example-icon icon-pressed': zoomWindowActivate, 'example-icon': !zoomWindowActivate}"
                aria-label="Example icon-button with menu icon" 
                (click)="toggleZoomWindowActivate()">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openAddWindow()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="graph-table">
        <ng-container *ngIf="lineChartData.length; else noSize">
            <graph style="height: 100%;" 
                   [inputInfo]="$any(lineChartData)" 
                   [zoomEnabled]="zoomWindowActivate"
                   [resize]="resizeTrigger">
            </graph>
        </ng-container>
    </div>

    <ng-template #noSize>
        No info selected
    </ng-template>


</div>