.sensor{
    max-width: 300px;
    height: 100px;
    border: solid;
    border-width: thin;
    border-color: black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'LCD', sans-serif;
}

.header-sensor
{
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
    padding-top: 10px;
}

.measure-display
{
    font-family: 'Digital Numbers', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.middle-measure
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
}

.border-measure
{
    width: 20%;
    font-size: 30px;
}

.footer-measure{
    display: flex;
    flex-direction: row-reverse;
}

.delete-icon{
    background-color: transparent; 
    border: transparent; 
    color: white; 
    cursor: pointer;
}