.sensor{
    max-width: 300px;
    height: 100px;
    border: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'LCD', sans-serif;
}

.header-sensor
{
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 10px;
}

.measure-display
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.middle-measure
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 60px;
}

.border-measure
{
    width: 20%;
    font-size: 40px;
}

.footer-measure{
    display: flex;
    flex-direction: row-reverse;
}