<h2 mat-dialog-title>Add new Sensor</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="sensorModule.name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Gateway</mat-label>
    <input matInput [(ngModel)]="sensorModule.gateway" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tópico</mat-label>
    <input matInput [(ngModel)]="sensorModule.topic" />
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="!this.settedType">
    <mat-label>Tipo</mat-label>
    <mat-select  [(ngModel)]="sensorModule.sensorType">
      <mat-option  *ngFor="let typeSensor of sensorTypes" [value]="typeSensor">{{typeSensor}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cor Representativa</mat-label>
    <input matInput [value]="this.sensorModule.color" readonly (click)="showPicker = !showPicker" />
  </mat-form-field>

  <div *ngIf="showPicker">
    <color-chrome [(color)]="this.sensorModule.color"></color-chrome>
  </div>
  
</mat-dialog-content>
<mat-dialog-actions> 
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!validForm()" (click)="onAddCLick()" cdkFocusInitial>Add</button>
</mat-dialog-actions>
