<mat-card style="height: 100%;">
    <mat-card-title>{{sensorInfo?.name}}</mat-card-title>
    <mat-card-content style="height: calc(100% - 32px);">
      <div style="height: 100%;" class="main-group-div">
        <div class="sensor-info-container">
          Valor Atual: {{getCurrentValue()}}
        </div>
        <ng-container  *ngIf="lineChartData && lineChartData.length > 0; else noSize" >
            <div style="height: 90%;">
              <graph style="height: 100%;" 
                      [blockFitAll]="true"
                      [inputInfo]="$any(lineChartData)">
              </graph>
            </div>
        </ng-container>
        <ng-template #noSize>
            No info selected
        </ng-template>
      </div>
        
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="return()">Return</button>
    </mat-card-actions>
</mat-card>

