<mat-card style="height: 100%;background-color: #f0f0f0;">
  <mat-card-title>{{sensorInfo?.name}}</mat-card-title>
  <mat-card-content style="height: calc(100% - 32px);">
    <div style="height: 100%;" class="main-group-div">
      <div class="sensor-info-container">
        Valor Atual: {{getCurrentValue()}}
      </div>
      <div class="sensor-info-datacontainer">
        <div class="info-card-internal" style="width: 70%; height: 100%;">
          <mat-card style="height: 100%; width: 100%;">
            <mat-card-title class="info-title-card">Medição da última hora</mat-card-title>
            <mat-card-content class="interior-container-card">
              <div class="graph-options-header">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                  (click)="resizeTrigger = !resizeTrigger">
                  <mat-icon>zoom_out_map</mat-icon>
                </button>
              </div>
              <ng-container *ngIf="lineChartData && lineChartData.length > 0; else noSize">
                <div style="height: calc(100% - 40px);">
                  <graph style="height: 100%;" 
                        [blockFitAll]="true" 
                        [inputInfo]="$any(lineChartData)"
                        [resize]="resizeTrigger">
                  </graph>
                </div>
              </ng-container>
              <ng-template #noSize>
                Sem Informação Disponível
              </ng-template>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="info-card-internal" style="width: 30%; height: 100%; ">
          <mat-card *ngIf="enableEdit" style="height: 230px; width: 100%; margin-bottom: 10px;">
            <mat-card-title class="info-title-card">Calibração</mat-card-title>
            <mat-card-content class="interior-container-card">
              <div class="calibration-info">
                <mat-form-field appearance="fill">
                  <mat-label>Offset:</mat-label>
                  <input matInput [(ngModel)]="offset" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Enclinação:</mat-label>
                  <input matInput [(ngModel)]="slope" />
                </mat-form-field>
                <button style="width: 100px;" mat-button>Calibrar</button>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card [ngClass]="{'alarm-minor-table': enableEdit , 'alarm-full-table': !enableEdit}">
            <mat-card-title class="info-title-card">Alarmes</mat-card-title>
            <mat-card-content class="interior-container-card">
              <div style="height: calc(100% - 60px);">
                <io-cloud-table style="height: 100%;" [headerInfo]="headerInfo" [models]="events">
                </io-cloud-table>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="return()">Return</button>
  </mat-card-actions>
</mat-card>