<h2 mat-dialog-title>Adicionar Novo Alarme</h2>
<mat-dialog-content>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="alarmModule.name" />
  </mat-form-field>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Selecionar Grupo</mat-label>
    <mat-select [(ngModel)]="selectedGroup">
      <mat-option *ngFor="let group of getGroups()" [value]="group">{{group}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%;" appearance="fill" *ngIf="selectedGroup!=''">
    <mat-label>Selecionar Tipo</mat-label>
    <mat-select [(ngModel)]="option">
      <mat-option [value]="'temperature'">Temperatura</mat-option>
      <mat-option [value]="'pressure'">Pressão</mat-option>
      <mat-option [value]="'power'">Potência</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%;" appearance="fill" *ngIf="selectedGroup!='' && getAvailableSensors().length != 0">
    <mat-label>Selecionar Sensor</mat-label>
    <mat-select [(ngModel)]="selectedSensor">
      <mat-option *ngFor="let panel of getAvailableSensors()" [value]="panel">{{panel.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="alarmModule.alarmType">
      <mat-option *ngFor="let tpKey of alarmKeys" [value]="alarmType[tpKey]">{{tpKey}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="fill">
    <mat-label>Valor</mat-label>
    <input matInput type="number" [(ngModel)]="alarmModule.threshold" />
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [disabled]="!validForm()" (click)="onAddCLick()" cdkFocusInitial>Adicionar</button>
</mat-dialog-actions>